# FIS Model Mockup

In [ ]:
import pandas as pd
from dateutil.parser import parse
from datetime import datetime
import datetime as dt
df = pd.read_excel("FIS FINAL ARRIVALS WEAPONS SHEET 01AUG23.xlsx", header=2).iloc[:, :8]
endrow = list(df['GATE*']).index("TOTAL=")
df = df.iloc[:endrow]
df
df = df.drop(df.loc[df["FIS PAX*"] == "PRECLEAR"].index) # type: ignore
df = df[df["IAB PAX*"] > 0]
df["ETA*"] = df["ETA*"].apply(lambda x: str(x)[:4])
df['ETA*'] = df["ETA*"].apply(lambda x: datetime.strptime(x, "%H%M"))
df['deplane time'] = (df['IAB PAX*']+df["FIS PAX*"])/17

In [90]:
matrix = pd.DataFrame(pd.date_range("1900-01-10 13:00:00", "1900-01-10 19:00:00", freq="1min"))

In [91]:
matrix.set_index(0, inplace=True)

In [92]:
for i in df.itertuples():
    matrix[str(i[1]) + " " + i[2]] = " "

In [93]:
matrix

,261 MAD,123 LHR,991 BCN,951 BRU,885 FCO,947 AMS,1567 MEX,975 GVA,914 CDG,943 LIS,...,53 ZRH,235 BER,1614 PUJ,109 MUC,988 FRA,804 HND,331 CDG,933 FRA,925 LHR,1133 CUN
0,,,,,,,,,,,,,,,,,,,,,
1900-01-10 13:00:00,,,,,,,,,,,...,,,,,,,,,,
1900-01-10 13:01:00,,,,,,,,,,,...,,,,,,,,,,
1900-01-10 13:02:00,,,,,,,,,,,...,,,,,,,,,,
1900-01-10 13:03:00,,,,,,,,,,,...,,,,,,,,,,
1900-01-10 13:04:00,,,,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1900-01-10 18:56:00,,,,,,,,,,,...,,,,,,,,,,
1900-01-10 18:57:00,,,,,,,,,,,...,,,,,,,,,,
1900-01-10 18:58:00,,,,,,,,,,,...,,,,,,,,,,
1900-01-10 18:59:00,,,,,,,,,,,...,,,,,,,,,,
1900-01-10 19:00:00,,,,,,,,,,,...,,,,,,,,,,

In [94]:
df

,FLIGHT*,FROM,ETA*,GATE*,IAB PAX*,IAB BAGS,FIS PAX*,FIS BAGS*,deplane time
0,261,MAD,1900-01-01 13:34:00,C1,80,77,144,150,13.176471
1,123,LHR,1900-01-01 13:45:00,C8,81,87,81,89,9.529412
2,991,BCN,1900-01-01 14:05:00,C5,106,115,169,181,16.176471
3,951,BRU,1900-01-01 14:29:00,C4,125,172,220,294,20.294118
4,885,FCO,1900-01-01 14:24:00,C12,135,136,140,121,16.176471
5,947,AMS,1900-01-01 14:35:00,C6,120,110,104,84,13.176471
6,1567,MEX,1900-01-01 14:30:00,C9,117,129,30,26,8.647059
7,975,GVA,1900-01-01 14:41:00,C3,67,66,94,83,9.470588
8,914,CDG,1900-01-01 14:54:00,C2,129,150,146,130,16.176471
9,943,LIS,1900-01-01 15:12:00,C8,63,52,163,140,13.294118
10,919,LHR,1900-01-01 15:27:00,C1,149,169,126,129,16.176471
11,983,ATH,1900-01-01 15:27:00,C12,118,127,122,135,14.117647
12,1694,CUN,1900-01-01 15:26:00,C11,101,75,75,64,10.352941
13,979,EDI,1900-01-01 15:37:00,C7,70,86,98,99,9.882353
14,53,ZRH,1900-01-01 15:44:00,C5,96,105,65,68,9.470588
15,235,BER,1900-01-01 15:26:00,C6,79,86,143,118,13.058824
16,1614,PUJ,1900-01-01 15:37:00,C9,154,116,23,12,10.411765
17,109,MUC,1900-01-01 15:51:00,C3,136,144,132,125,15.764706
18,988,FRA,1900-01-01 15:53:00,C2,159,209,191,209,20.588235
19,804,HND,1900-01-01 17:01:00,C1,175,258,100,131,16.176471
24,331,CDG,1900-01-01 19:27:00,C5,275,293,0,0,16.176471
25,933,FRA,1900-01-01 20:00:00,C3,236,299,0,0,13.882353
26,925,LHR,1900-01-01 20:03:00,C7,143,91,0,0,8.411765
27,1133,CUN,1900-01-01 20:30:00,C1,174,132,0,0,10.235294

In [95]:
start_end = {}

for i in df.itertuples():
    start_end[i[1]] = (i[3], i[3]+ dt.timedelta(minutes=i[9]))

In [96]:
start_end

{261: (Timestamp('1900-01-01 13:34:00'),
  Timestamp('1900-01-01 13:47:10.588235')),
 123: (Timestamp('1900-01-01 13:45:00'),
  Timestamp('1900-01-01 13:54:31.764706')),
 991: (Timestamp('1900-01-01 14:05:00'),
  Timestamp('1900-01-01 14:21:10.588235')),
 951: (Timestamp('1900-01-01 14:29:00'),
  Timestamp('1900-01-01 14:49:17.647059')),
 885: (Timestamp('1900-01-01 14:24:00'),
  Timestamp('1900-01-01 14:40:10.588235')),
 947: (Timestamp('1900-01-01 14:35:00'),
  Timestamp('1900-01-01 14:48:10.588235')),
 1567: (Timestamp('1900-01-01 14:30:00'),
  Timestamp('1900-01-01 14:38:38.823529')),
 975: (Timestamp('1900-01-01 14:41:00'),
  Timestamp('1900-01-01 14:50:28.235294')),
 914: (Timestamp('1900-01-01 14:54:00'),
  Timestamp('1900-01-01 15:10:10.588235')),
 943: (Timestamp('1900-01-01 15:12:00'),
  Timestamp('1900-01-01 15:25:17.647059')),
 919: (Timestamp('1900-01-01 15:27:00'),
  Timestamp('1900-01-01 15:43:10.588235')),
 983: (Timestamp('1900-01-01 15:27:00'),
  Timestamp('1900-01-01 15:41:07.058824')),
 1694: (Timestamp('1900-01-01 15:26:00'),
  Timestamp('1900-01-01 15:36:21.176471')),
 979: (Timestamp('1900-01-01 15:37:00'),
  Timestamp('1900-01-01 15:46:52.941176')),
 53: (Timestamp('1900-01-01 15:44:00'),
  Timestamp('1900-01-01 15:53:28.235294')),
 235: (Timestamp('1900-01-01 15:26:00'),
  Timestamp('1900-01-01 15:39:03.529412')),
 1614: (Timestamp('1900-01-01 15:37:00'),
  Timestamp('1900-01-01 15:47:24.705882')),
 109: (Timestamp('1900-01-01 15:51:00'),
  Timestamp('1900-01-01 16:06:45.882353')),
 988: (Timestamp('1900-01-01 15:53:00'),
  Timestamp('1900-01-01 16:13:35.294118')),
 804: (Timestamp('1900-01-01 17:01:00'),
  Timestamp('1900-01-01 17:17:10.588235')),
 331: (Timestamp('1900-01-01 19:27:00'),
  Timestamp('1900-01-01 19:43:10.588235')),
 933: (Timestamp('1900-01-01 20:00:00'),
  Timestamp('1900-01-01 20:13:52.941176')),
 925: (Timestamp('1900-01-01 20:03:00'),
  Timestamp('1900-01-01 20:11:24.705882')),
 1133: (Timestamp('1900-01-01 20:30:00'),
  Timestamp('1900-01-01 20:40:14.117647'))}